# Git
.git
.gitignore

# Docker
.docker

# Python
recipick_app/__pycache__/
recipick_app/*/__pycache__/
recipick_app/*/*/__pycache__/
recipick_app/*/*/*/__pycache__/
recipick_ai/__pycache__/
recipick_ai/*/__pycache__/
recipick_ai/*/*/__pycache__/

.env/
.venv/
venv/